<mat-card class="card mat-elevation-z10">
    <mat-card-title class="card-title">Bem vindo ao sistema</mat-card-title>
    <mat-card-subtitle class="card-subtitle">Ajudamos você a escolher os números com mais facilidade</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-content class="content">
        <mat-accordion class="mat-elevation-z5">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                  <mat-panel-title>
                    <img src="../../../assets/megasena.png" mat-card-avatar>
                    Mega-Sena
                  </mat-panel-title>  
              </mat-expansion-panel-header>
              <p>Gere 6 números aleatórios</p>
              <p>Do 1 ao 60</p>
              <p>Boa Sorte!</p>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title >
                  <img src="../../../assets/lotofacil.png" mat-card-avatar>
                  Lotofácil
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Gere 15 números aleatórios</p>
              <p>Do 1 ao 25</p>
              <p>Boa Sorte!</p>
            </mat-expansion-panel>
          </mat-accordion>
          
    </mat-card-content>
</mat-card>